<div class="search_row">
  <%= f.label :min_payment, "Min Payment", :class => "hidden" %>
  <b><%= f.label :max_payment, "Payment" %></b>
  <%= f.hidden_field :min_payment, :value => search.min_payment %>
  <%= f.hidden_field :max_payment, :value => search.max_payment %>
  <div id="payment_slider"></div>
</div>
<div class="search_row float-left" id="deposit_container">
  <b><%= f.label :deposit, "Deposit" %></b>
  <%= f.hidden_field :deposit, :value => search.deposit %>
  <div id="deposit_slider"></div>
</div>
<div class="search_row float-left" id="search_term">
  <span class="label">Term</span>
  <% default_term_1, default_term_2, default_term_3 = 25, 30, 35 %>
  <%= radio_button_tag("search[term]", default_term_1, (search.term == default_term_1)) %><%= label_tag "search_term_#{default_term_1}", default_term_1.to_s %>
  <%= radio_button_tag("search[term]", default_term_2, (search.term == default_term_2)) %><%= label_tag "search_term_#{default_term_2}", default_term_2.to_s %>
  <%= radio_button_tag("search[term]", default_term_3, (search.term == default_term_3)) %><%= label_tag "search_term_#{default_term_3}", default_term_3.to_s %>
</div>
<div class="search_row">
  <b><%= f.label :location, "Location" %></b>
  <%# f.text_field :location, :value => search.location, :size => 60 %>
  <%= f.autocomplete_field :location, autocomplete_town_name_searches_path %>
  <%= f.submit :Search, :class => "float-right sexy_btn" %>
</div>
<span><%= link_to 'Mortgage Filter', "#", :class => " collapsed-trigger float-right" %></span>
<div id="mortgage_options" class="collapsed-content <%= search.has_mortgage_conditions? ? '' : 'hidden' %>">
  <ul>
    <li class="input"><%= f.label :lender %></li>
    <li class="input"><%= f.select :lender, lender_options, {:selected => search.lender}, { :class => "multiselect", :multiple => 'multiple' } %></li>
    <li class="input"><%= f.label :loan_type %></li>
    <li class="input"><%= f.select :loan_type, loan_type_options, {:selected => search.loan_type}, { :class => "multiselect", :multiple => 'multiple' } %></li>
  </ul>
</div>
