<%= form_for Search.new, :remote => true do |f| %>
<div id="search_bar">
  <div id="error_target"></div>
  <div id="search_content">
    <a id="close_search_bar" class="float-right" href="">[Close]</a>
    <div id="mort_search_options" class="search_section">
      <h3>Mortgage Options</h3>
      <%= f.label :min_payment, "Min Payment", :class => "hidden" %>
      <b><%= f.label :max_payment, "Payment" %></b>
      <%= f.hidden_field :min_payment, :value => @search.min_payment %>
      <%= f.hidden_field :max_payment, :value => @search.max_payment %>
      <div id="payment_slider"></div>

      <strong><%= f.label :deposit %></strong>
      <%= f.text_field :deposit, :value => @search.deposit, :autocomplete => "off" %>

      <h3>Term</h3>
      <div class="inline buttonset row">
        <% [20,25,30,35,40].each do |id| %>
          <%= radio('term', id, @search.term == id) %><%= checkbox_label 'term', id %>
        <% end %>
      </div>
    </div>

    <div id="loc_search_options" class="search_section">
    <%= f.fields_for towns_path, :method => :get, :remote => true, :id => 'search_town_form' do |builder| %>
      <strong><%= label_tag :name, 'Locations (Max. 60)' %></strong>
        <div id="towns_list">
          <ul>
            <%= render partial: "shared/search/location_item", collection: @search.location_objects %>
          </ul>
        </div>
      <div class="clear">
        <%= builder.autocomplete_field :name, autocomplete_town_name_towns_path %>
        <%= button_tag :add %>
        <a href="" id="delete_all">Clear All</a>
      </div>
    <% end %>
    </div>
  </div> <!-- search_content -->

  <div>
    <span class="loading float-left"></span>
    <%= f.submit :Search, :class => "sexy_btn float-left", :id => "search_submit" %>
    <a id="advanced_search_trigger" href="">Options</a>
  </div>
<% end %>

</div> <!-- search_bar -->

<%= render partial: "shared/search/dialog", locals: { search: @search } %>

<% content_for :sidebar do %>
  <div id="search_controls">
    <button id="mort_ctrl">Mortgage Options</button>
    <button id="loc_ctrl">Location Options</button>
  </div>
  <h3>Property Type</h3>
  <div class="buttonset">
    <ul class="button_list">
    <% PropertyType.each do |name, uid| %>
      <li>
        <%= checkbox('prop_type_uids', uid, @search.prop_type_uids.include?(uid)) %>
        <%= checkbox_label('prop_type_uids', uid, name) %>
      </li>
    <% end %>
    </ul>
  </div>
    <h3>Bedrooms</h3>
                <div class="inline buttonset">
                  <% BEDROOMS.each do |beds| %>
                    <%= checkbox('bedrooms', beds, @search.bedrooms.include?(beds)) %>
                    <%= checkbox_label('bedrooms', beds) %>
                  <% end %>
                </div>
  <h3>Bathrooms</h3>
                <div class="inline buttonset">
                  <% BATHROOMS.each do |x| %>
                    <%= checkbox('bathrooms', x, @search.bathrooms.include?(x.to_s)) %>
                    <%= checkbox_label('bathrooms', x) %>
                  <% end %>
                </div>

<% end %>