<%= form_for Search.new, :remote => true do |f| %>
  <div id="top_search_bar">
    <div id="error_target"></div>
    <%= f.label :min_payment, "Min Payment", :class => "hidden" %>
    <b><%= f.label :max_payment, "Payment" %></b>
    <%= f.hidden_field :min_payment, :value => @search.min_payment %>
    <%= f.hidden_field :max_payment, :value => @search.max_payment %>
    <div id="payment_slider"></div>
  </div>
  <div id="side_search_bar">
    <b><%= f.label :deposit, "Deposit" %></b>
    <%= f.text_field :deposit, :value => @search.deposit, :autocomplete => "off" %>
    <div>
      <span class="loading float-left"></span>
      <%= f.submit :Search, :class => "sexy_btn float-left", :id => "search_submit" %>
      <a id="advanced_search_trigger" href="">Options</a>
    </div>
  </div>
<% end %>
<%= render partial: "shared/search/dialog", locals: { search: @search } %>

<% content_for :sidebar do %>
  <%= form_tag towns_path, :method => :get, :remote => true, :id => 'search_town_form' do %>
    <strong><%= label_tag :name, 'Locations (Max. 60)' %></strong>
    <div>
      <%= autocomplete_field_tag :name, nil, autocomplete_town_name_towns_path, id: 'search_town', placeholder: 'type a town name' %>
      <%= submit_tag :add %>
    </div>
    <div id="towns_list">
      <a href="" id="delete_all">Clear All</a>
      <ul>
        <%= render partial: "shared/search/town", collection: @search.towns %>
      </ul>
    </div>
  <% end %>
<% end %>