%table
  %tbody
    %tr
      %td.label
        = f.label :deposit, "Deposit (€)"
      %td.fields
        = f.text_field :deposit, :value => search.deposit, :size => 8
      %td.slider
        .slider_container
          #deposit-slider
    %tr
      %td.label
        = f.label :term, "Term (years)"
      %td.fields
        = f.text_field :term, :value => search.term, :size => 2
      %td.slider
        .slider_container
          #term-slider
    %tr
      %td.label
        Payment Range (€)
      %td.fields
        = f.text_field :min_payment, :value => search.min_payment, :size => 4
        = f.text_field :max_payment, :value => search.max_payment, :size => 4
      %td.slider
        .slider_container
          #jquery-slider

    %tr
      %td.label
        = f.label :location
      %td{ colspan: 2 }
        = f.text_field :location, value: search.location, size: 60
        = f.submit :Search, :class => "float-right sexy_btn"

%span= link_to 'Mortgage Filter', "#", :class => " collapsed-trigger float-right"

#mortgage_options.collapsed-content{ :class => search.has_mortgage_conditions? ? '' : 'hidden' }
  %ul
    %li.input.label= f.label :lender
    %li.input= f.select :lender, lender_options, {:selected => search.lender}, { :class => "multiselect", :multiple => 'multiple' }
    %li.input.label= f.label :loan_type
    %li.input= f.select :loan_type, loan_type_options, {:selected => search.loan_type}, { :class => "multiselect", :multiple => 'multiple' }

.spacer
