<% content_for :sidebar do %>
  <!-- fields_for may be what I need here: http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-fields_for -->
  <%= form_tag(Search.new, id: "mortgage_options_form") do %>
    <div id="house_filter" class="sidebar_section">
      <h2 class="bar_head">Results Filters</h2>
      <h3 class="collapsed_trigger"><a href="">Property Type</a></h3>
      <div class="<%= "hidden" unless search.has_prop_type_conditions? %> buttonset collapsed_content">
        <ul class="button_list">
        <% PropertyType.each do |name, uid| %>
          <li>
            <%= checkbox('prop_type_uids', uid, search.prop_type_uids.include?(uid)) %>
            <%= checkbox_label('prop_type_uids', uid, name) %>
          </li>
        <% end %>
        </ul>
      </div>
      <h3 class="collapsed_trigger"><a href="">Bedrooms</a></h3>
      <div class="inline buttonset collapsed_content <%= "hidden" unless search.has_bedroom_conditions? %>">
        <!-- these should obv be replaced with the bedroom range possible -->
        <% BEDROOMS.each do |number| %>
          <%= checkbox('bedrooms', number, search.bedrooms[number-1]) %>
          <%= checkbox_label('bedrooms', number) %>
        <% end %>
      </div>
      <h3 class="collapsed_trigger"><a href="">Bathrooms</a></h3>
      <div class="inline buttonset collapsed_content <%= "hidden" unless search.has_bathroom_conditions? %>">
        <% BATHROOMS.each do |x| %>
          <%= checkbox('bathrooms', x, search.bathrooms[x-1]) %>
          <%= checkbox_label('bathrooms', x) %>
        <% end %>
      </div>
    </div>
    <div id="mortgage_filter" class="sidebar_section">
      <h2 class="bar_head">Mortgage Filters</h2>
      <h3 class="collapsed_trigger"><a href="">Lenders</a></h3>
      <div class="<%= "hidden" unless search.has_lender_conditions? %> buttonset collapsed_content">
        <ul class="button_list">
        <% LENDER_UIDS.each do |uid| %>
          <li>
            <%= checkbox('lender_uids', uid, search.lender_uids.include?(uid)) %>
            <%= checkbox_label('lender_uids', uid, LENDERS[LENDER_UIDS.find_index(uid)]) %>
          </li>
        <% end %>
        </ul>
      </div>
      <h3 class="collapsed_trigger"><a href="">Loan Types</a></h3>
      <div class="<%= "hidden" unless search.has_loan_type_conditions? %> buttonset collapsed_content">
        <ul class="button_list">
          <% LOAN_TYPE_UIDS.each do |uid| %>
            <li>
              <%= checkbox('loan_type_uids', uid, search.loan_type_uids.include?(uid)) %>
              <%= checkbox_label('loan_type_uids', uid, LOAN_TYPES[LOAN_TYPE_UIDS.find_index(uid)]) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>