<% content_for :sidebar do %>
  <!-- fields_for may be what I need here: http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-fields_for -->
  <%= form_tag(Search.new, id: "mortgage_options_form") do %>
    <div id="mortgage_options">
      <%= f.label :lender %><br />
      <%= f.select :lender, lender_options, {:selected => search.lender}, { :class => "multiselect", :multiple => 'multiple' } %>
      <%= f.label :loan_type %><br />
      <%= f.select :loan_type, loan_type_options, {:selected => search.loan_type}, { :class => "multiselect", :multiple => 'multiple' } %>
    </div>
    <div class="buttonset">
      <b>Bedrooms</b><br />
      <!-- these should obv be replaced with the bedroom range possible -->
      <% BEDROOMS.each do |x| %>
        <%= checkbox('bedroom', x, search.bedrooms[x-1]) %>
        <%= checkbox_label('bedroom', x) %>
      <% end %>
    </div>
    <div class="buttonset">
      <b>Bathrooms</b><br />
      <% BATHROOMS.each do |x| %>
        <%= checkbox('bathroom', x, search.bathrooms[x-1]) %>
        <%= checkbox_label('bathroom', x) %>
      <% end %>
    </div>
  <% end %>
<% end %>