= form_for(@house) do |f|
  =render 'shared/error_messages', :object => f.object
  %fieldset
    .field
      = f.label :title
      %br/
      = f.text_field :title, :size => 80
    .field
      = f.label :description
      %br/
      = f.text_area :description, :cols => 58, :rows => 6
    .field
      = f.label :image_url
      %br/
      = f.text_field :image_url, :size => 80
  %fieldset
    .field
      = f.label :county, "County"
      %br/
      = f.select :county, select_options(COUNTIES)
  %fieldset
    .field
      = f.label :price
      %br/
      = f.text_field :price, :size => 8
      
  .actions
    = f.submit