%p#notice= notice
= image_tag @house.image_url, :size => '160x120', :class => 'house'

%h2= @house.title

%p= @house.description

%p
  %b Price:
  = number_to_currency(@house.price, :unit => '€', :precision => 0)

%p
  %b Address:
  = house_address @house

%p
  %b Bedrooms:
  = @house.bedrooms
= link_to 'Edit', edit_house_path(@house)
|
\#{link_to 'Back', houses_path}
