%p#notice= notice
= image_tag @house.image_url, :size => '160x120', :class => 'house'

%h2= @house.title

%p= @house.description if @house.description

%p
  %b Price:
  = number_to_currency(@house.price, :unit => '€', :precision => 0)

= link_to 'View on Daft.ie', @house.daft_url
|
\#{link_to 'Back', root_path}
