%tr.house{ :id => "house_#{house.id}" }
  %td
    = image_tag house.image_url, :size => '160x120' # if Rails.env.production? # sick of waiting for image loads in dev
    .house_photo_dialog
      - house.photos.each do |photo|
        = link_to "\u2022", photo.url, class: "gallery", rel: "house_#{house.id}"
  %td
    %table
      %tr
        %td{ :colspan => 3 }
          %b= house.title
      %tr
        %td= "#{house.bedrooms} Bedrooms" unless house.bedrooms.blank?
        %td= "#{house.bathrooms} Bathrooms" unless house.bathrooms.blank?
        %td= "Created: #{house.daft_date_entered}" unless house.daft_date_entered.blank?
      %tr
        %td{ :colspan => 3 }= house.description if house.description
      %tr
        %td= "Price: #{number_to_currency(house.price, :unit => '€', :precision => 0)}"

        - if @search
          - pmt = Mortgage.new(@rate, @search.term, @search.deposit, house.price).calc_pmt
          %td= "Actual Monthly Payment Required: #{number_to_currency(-pmt, :unit => '€')}"
        
        %td= link_to "View on Daft.ie", house.daft_url
        %td= link_to 'Show', house
        -#%td= link_to 'Edit', edit_house_path(house)
        -#%td= link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete
      %tr
        %td.bottom{ :colspan => 5 }

  

