%tr.house{ :id => "house_#{house.id}" }
  %td= image_tag house.image_url, :size => '160x120' if Rails.env.production? # sick of waiting for image loads in dev
  %td
    %table
      %tr
        %td{ :colspan => 3 }
          %b= house.title
      %tr
        %td{ :colspan => 3 }= house.description if house.description
      %tr
        %td= "Price: #{number_to_currency(house.price, :unit => '€', :precision => 0)}"

        - if @search
          - paym = Mortgage.new(@rate, @search.term, @search.deposit).pmt_at(house.price)
          %td= "Actual Monthly Payment Required: #{number_to_currency(-paym, :unit => '€')}"
        
        %td= link_to "View on Daft.ie", house.daft_url
        %td= link_to 'Show', house
        -#%td= link_to 'Edit', edit_house_path(house)
        -#%td= link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete
      %tr
        %td.bottom{ :colspan => 5 }

