%tr.house{ :id => "house_#{house.id}" }
  %td= image_tag house.image_url
  %td
    %table
      %tr
        %td
          %b= house.title
      %tr
        %td= house.address
      %tr
        %td= house.description
      %tr
        %td= number_to_currency(house.price, :unit => '€', :precision => 0)
        %td= link_to 'Show', house
        -#%td= link_to 'Edit', edit_house_path(house)
        -#%td= link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete
