<% if matches.any? %>
<div id="results">
  <div id="mortgage_details">
    <p>
      You can borrow between <%= number_to_currency(search.min_price, :unit => '€', :precision => 0) %> and
      <%= number_to_currency(search.max_price, :unit => '€', :precision => 0) %>.
      <% if Rails.env.development? %>
        Results: <%= search.matches.count %>.
      <% end %>
      <%= link_to "Based on what rate?", "#", class: "collapsed-trigger float-right" %>
    </p>
    <div class="collapsed-content hidden">
      <table class="data">
        <thead><%= render "shared/compact_rate_table_headings", :rate => rate %></thead>
        <tbody><%= render "shared/compact_rate", :rate => rate %></tbody>
      </table>
      <%= link_to "View all the rates", rates_path, class: "float-right" %>
      <div class="spacer"></div>
    </div>
  </div>
  <div class="results_menu clear">
    <%= sortable "price", "Required Payments" %>
  </div>
  <div class="clear">
    <ul class="listings">
      <%= render :partial => 'shared/house/house', :collection => matches %>
    </ul>
  </div>
</div>
<% else %>
<div id="results">
  <p>We're sorry but no houses match that search.</p>
  <p>
    To improve your chances of finding suitable houses, you might try broadening your search
    conditions or adding more towns to your search.
  </p>
</div>
<% end %>