%table
  %tbody
    %tr
      %td.label
        = f.label :deposit, "Deposit (€)"
      %td.fields
        = f.text_field :deposit, :value => search.deposit, :size => 8
      %td.slider
        #deposit-slider
    %tr
      %td.label
        = f.label :term, "Term (years)"
      %td.fields
        = f.text_field :term, :value => search.term, :size => 2
      %td.slider
        #term-slider
    %tr
      %td.label
        Payment Range (€)
      %td.fields
        = f.text_field :min_payment, :value => search.min_payment, :size => 4
        = f.text_field :max_payment, :value => search.max_payment, :size => 4
      %td.slider
        #jquery-slider

    %tr
      %td.label
        = f.label :location
      %td{ colspan: 2 }
        = f.text_field :location, value: search.location, size: 100
        = f.submit :Search, :class => "float-right"

%span= link_to 'Mortgage Filter', "#", :class => " collapsed-trigger float-right"

#mortgage_options.collapsed-content{ :class => search.has_mortgage_conditions? ? '' : 'hidden' }
  %span Only use mortgages which meet the following conditions
  %table
    %tbody
      %tr
        %td.label= f.label :lender
        %td= f.select :lender, lender_options, :selected => search.lender
        %td.label= f.label :loan_type
        -# It might be best to consolidate IPL into loan type: variable rate, 1 year fixed rate, ..
        %td= f.select :loan_type, loan_type_options, :selected => search.loan_type
        %td.label= f.label :initial_period_length
        %td= f.select :initial_period_length, initial_period_length_options, :selected => search.initial_period_length

.spacer
