<li class="listing" id="house_<%= house.id %>">
	<%= image_tag house.image_url, size: '160x120' %>
  <%# render partial: "shared/house/photo", collection: house.photos %>
	<div class="house_details">
		<h3><%= house.title %></h3>
		<p>
      <%= truncate(house.description, length: 280) if house.description %>
    </p>
	</div>
	<div class="summary">
    <span class="price">
      <%= number_to_currency(-house.payment_required(@rate, @search.term, @search.deposit), unit: '€', precision: 0) %>
    </span>
    <span class="payment_frequency">/ month</span>
    <ul>
      <li><b>Bedrooms:</b> <%= house.bedrooms %></li>
      <li><b>Bathrooms:</b> <%= house.bathrooms %></li>
      <li><b>Type:</b> <%= house.property_type %></li>
      <li><b>Price:</b> <%= number_to_currency(house.price, unit: '€', precision: 0) %></li>
    </ul>
    <div class="spacer"></div>
    <%= link_to "view daft.ie", house.daft_url, class: "button blue_btn daft_btn" %>
    <%= link_to "more info", house_path(house), class: "button grey_btn more_info" %>
  </div>
  <div class="spacer"></div>
</li>
