#rate_debugger_trigger.collapsed-trigger  Debug Data
#rate_debugger.hidden.collapsed-content
  %table
    %tr
      %td Effective Rates
      %td
        %ul
          - @search.effective_rates.each do |deposit, eff_rate|
            %li
              = "Deposit: #{number_to_percentage(deposit)}"
              = "Avg. Rate: #{eff_rate.truncate(15)}%"
    %tr
      %td Principals
      %td
        %ul
          - @search.max_prices_given_rate.each do |deposit, price|
            %li
              = "Deposit: #{number_to_percentage(deposit)}"
              = "Price: #{number_to_currency(price, :unit => '€')}"
    %tr
      %td Our Bracket
      %td
        = "Deposit Percentage: #{number_to_percentage(@search.affordable_prices[0])}."
        = "Max price: #{number_to_currency(@search.affordable_prices[1].truncate(4), :unit => '€')}"
    %tr
      %td Min Price
      %td= number_to_currency(@search.min_price.truncate(4), :unit => '€')