%tr.search{ :id => "search-#{search.id}" }
  %td= search.id
  %td= search.min_payment
  %td= search.max_payment
  %td= search.deposit
  %td= search.term
  %td= link_to search.location, search_path(search)
  %td= search.bedrooms
  %td= search.bathrooms
  %td= search.loan_type
  %td= search.initial_period_length
  %td= search.lender
