<div id="results" class="float-left">
  <div id="mortgage_details">
    <p>
      You can borrow between <%= number_to_currency(@search.min_price, :unit => '€', :precision => 0) %> and
      <%= number_to_currency(@search.max_price, :unit => '€', :precision => 0) %>.
      There are <%= @all_matches.count %> results.
      <%= link_to "Based on what rate?", "#", class: "collapsed-trigger float-right" %>
    </p>

    <div class="collapsed-content hidden">
      <table class="data">
        <thead><%= render "shared/compact_rate_table_headings", :rate => @rate %></thead>
        <tbody><%= render "shared/compact_rate", :rate => @rate %></tbody>
      </table>
      <%= link_to "View all the rates", rates_path, class: "float-right" %>
      <div class="spacer"></div>
    </div>
  </div>
  <%= render partial: "shared/results" %>
</div>

<% content_for :sidebar do %>
  <div class="hello">
    <p>Some sidebar content</p>
  </div>
<% end %>


