= render 'shared/search_form'

#tabs
  %ul
    - logger.debug @search
    - r = 1
    - @search.matches.each do |period, houses|
      %li
        %a{ :href => "tabs-#{r}" }= "#{period/12} year term"
        - r += 1

  - i = 1
  - @search.matches.each do |period, houses|
    %div{ :id => "ui-tabs-#{i}" }
      - i += 1
      ="Min house price: #{number_to_currency(@search.price_ranges[period].begin.round, :unit => '€', :precision => 0)}"
      ="Max house price: #{number_to_currency(@search.price_ranges[period].end.round, :unit => '€', :precision => 0)}"

      %table
        = render :partial => 'shared/house', :collection => houses