- if Rails.env.development?
  = render 'viable_rates'
  = render 'rate_debugger'

#mortgage_details
  You will be able to borrow up to a maximum of #{number_to_currency(@search.best_price[1], :unit => '€', :precision => 0)}.
  This is the rate we calculated to be the best match for you
  %table
    %tbody
      = render "shared/rate", :rate => @something
  %a{ :href => rates_path } here.
  There are #{@matches.count} results.
  
#results
  %div
    - if @matches.any?
      %table
        %tbody
          = render :partial => 'shared/house', :collection => @matches

      = paginate @matches

    - else
      We're sorry but no houses match that search