<div id="start_searching">
  <%= form_for Search.new do |f| %>
    <div id="start_payment">
      <p><b>1) </b>Tell us how much you can afford towards a mortgage every month</p>
      <%= f.label :min_payment, "Min Payment", :class => "hidden" %>
      <%= f.label :max_payment, "Payment", class: 'hidden' %>
      <%= f.hidden_field :min_payment, :value => @search.min_payment %>
      <%= f.hidden_field :max_payment, :value => @search.max_payment %>
      <div id="payment_slider"></div>
    </div>
    <div id="start_deposit">
      <span><b>2) </b>Say how large a deposit you can save up:</span>
      <%= f.label :deposit, "Deposit", class: 'hidden'%>
      <%= f.text_field :deposit, :value => @search.deposit, :autocomplete => "off", size: 7  %>
    </div>
  <% end %>
<div class="hidden"><%= render partial: "shared/search/dialog", locals: { search: @search } %></div>

  <%= form_tag towns_path, :method => :get, :remote => true, :id => 'search_town_form' do %>
    <p><b>3) </b>Choose where you would like to live</p>
    <div id="location_widget">
      <%= label_tag :name, 'Locations (Max. 60)', class: 'hidden' %>
      <div>
        <%= autocomplete_field_tag :name, nil, autocomplete_town_name_towns_path, id: 'search_town',
                                   size: 30, placeholder: 'type a town name'  %>
        <%= submit_tag :add %>
      </div>
      <div id="towns_list">
        <a href="" id="delete_all">Clear All</a>
        <ul>
          <%= render partial: "shared/search/town", collection: @search.towns %>
        </ul>
      </div>
    </div>
  <% end %>

  <div>
  <%= form_tag searches_path, id: 'start_new_search', remote: true do %>
    <%= submit_tag :Search, :class => "sexy_btn float-right", :id => "start_search_submit" %>
  <% end %>
  </div>
  <div class="spacer"></div>
</div>