<h1>Listing rates</h1>

<table>
  <tr>
    <th>Initial rate</th>
    <th>Lender</th>
    <th>Type</th>
    <th>Min depos</th>
    <th>Initial period length</th>
    <th>Svr</th>
    <th>Max princ</th>
    <th>Min princ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rates.each do |rate| %>
  <tr>
    <td><%= rate.initial_rate %></td>
    <td><%= rate.lender %></td>
    <td><%= rate.type %></td>
    <td><%= rate.min_depos %></td>
    <td><%= rate.initial_period_length %></td>
    <td><%= rate.svr %></td>
    <td><%= rate.max_princ %></td>
    <td><%= rate.min_princ %></td>
    <td><%= link_to 'Show', rate %></td>
    <td><%= link_to 'Edit', edit_rate_path(rate) %></td>
    <td><%= link_to 'Destroy', rate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rate', new_rate_path %>
