!!!
%html{ :"xmlns:fb" => "http://www.facebook.com/2008/fbml" }
  %head
    %title How Much House
    = render "layouts/fb_meta_tags"
    = stylesheet_link_tag 'scaffold', 'styles'
    = stylesheet_link_tag 'smoothness/jquery-ui'
    = javascript_include_tag :defaults, 'analytics'
    %script{ :src => "http://platform.twitter.com/widgets.js" }
    = csrf_meta_tag
  %body
    #wrapper
      #header
        = render 'layouts/header'
      = render 'shared/search_bar' if @search_form
      #content
        = yield
      #footer
      = debug params if Rails.env.development?